/* importing the Lexend font from google. */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/* Root variables */

:root {
    --std-font-size: 1.8rem; /* Increased standard font size to 16-19 as recommended by the British Dyslexia Association. */
    --brand-colour: #3c3d83;
    --primary-colour: #f5f5f5;
    --secondary-colour: #000000;
    --border-standard: 0.32rem;
    --border-half: 0.16rem;
}



/* CSS Resets */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 10px; /* change font size to make it easier to work with em and rem units */
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    /* overflow-x: hidden; */
}

body {
    overflow-y: scroll; /* reserves space for the vertical scrollbar, preventing layout shifts when content grows.*/
    font-family: "Lexend", Arial, Verdana, Tahoma, "Comic Sans MS", sans-serif; /* dyslexia friendly fonts as recommended by the British Dyslexia Association. */
    line-height: 1.5; /* increased line spacing as recommended by the British Dyslexia Association. */
    letter-spacing: 0.12em; /* increased letter spacing as recommended by the British Dyslexia Association. */
    word-spacing: 0.42em; /* increased word spacing as recommended by the British Dyslexia Association. */
    background-color: var(--primary-colour);
}

header {
    width: 100%;
}

nav {
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 0 var(--border-standard) 0;
    border-color: var(--secondary-colour);
}

main {
    width: 100%;
}

section {
    width: 100%;
}

footer {
    width: 100%;
}








a {
    font-size: var(--std-font-size);
    line-height: 1.5; /* increased line spacing as recommended by the British Dyslexia Association. */
    max-width: 80ch; /* short characters per line limit as recommended by the British Dyslexia Association. */
}

h1 {
    display: block;
    font-size: 3.2rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 2.4rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.872rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1.6rem;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 1.328rem;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: 1.072rem;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    font-weight: bold;
}

img {
    display: block;
    padding: 0;
    margin: 0;
}

li {
    font-size: var(--std-font-size);
    line-height: 1.5; /* increased line spacing as recommended by the British Dyslexia Association. */
    max-width: 80ch; /* short characters per line limit as recommended by the British Dyslexia Association. */
}

p {
    display: block;
    font-size: var(--std-font-size);
    line-height: 1.5; /* increased line spacing as recommended by the British Dyslexia Association. */
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 80ch; /* short characters per line limit as recommended by the British Dyslexia Association. */
}




/* Utilities */

/* create a flex row */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* horizontally center the content in a flex row */
.flex-rhc {
    justify-content: center;
}

/* left align the content in a flex row */
.flex-ral {
    justify-content: flex-start;
}

/* right align the content in a flex row */
.flex-rar {
    justify-content: flex-end;
}

/* vertically center the content in a flex row */
.flex-rvc {
    align-items: center;
}

/* top align the content in a flex row */
.flex-rat {
    align-items: flex-start;
}

/* bottom align the content in a flex row */
.flex-rab {
    align-items: flex-end;
}

/* create a flex column */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* vertically center the content in a flex column */
.flex-cvc {
    justify-content: center;
}

/* top align the content in a flex column */
.flex-cat {
    justify-content: flex-start;
}

/* bottom align the content in a flex column */
.flex-cab {
    justify-content: flex-end;
}

/* horizontally center the content in a flex column */
.flex-chc {
    align-items: center;
}

/* left align the content in a flex column */
.flex-cal {
    align-items: flex-start;
}

/* right align the content in a flex column */
.flex-car {
    align-items: flex-end;
}

.flex-fill {
    flex: 1;
}



/* Text alignment */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-pad-v1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.text-pad-h1 {
    padding-left: 1em;
    padding-right: 1em;
}

.text-pad-1vh {
    padding-left: 1vh;
    padding-right: 1vh;
}

.text-pad-1vw {
    padding-top: 1vw;
    padding-bottom: 1vw;
}



/* Borders */

.border-tb {
    border-style: solid;
    border-width: var(--border-standard) 0;
    border-color: var(--secondary-colour);
}

.border-t {
    border-style: solid;
    border-width: var(--border-standard) 0 0 0;
    border-color: var(--secondary-colour);
}

.border-b {
    border-style: solid;
    border-width: 0 0 var(--border-standard) 0;
    border-color: var(--secondary-colour);
}

.border-b-100 {
    border-style: solid;
    border-width: 0 0 var(--border-standard) 0;
    border-color: var(--secondary-colour);
    width: 100%;
}

.border-lr {
    border-style: solid;
    border-width: 0 var(--border-standard);
    border-color: var(--secondary-colour);
}

.border-l {
    border-style: solid;
    border-width: 0 0 0 var(--border-standard);
    border-color: var(--secondary-colour);
}

.border-r {
    border-style: solid;
    border-width: 0 var(--border-standard) 0 0;
    border-color: var(--secondary-colour);
}

.border-all {
    border-style: solid;
    border-width: var(--border-standard);
    border-color: var(--secondary-colour);
}




.container {
    width: 80%;
    overflow: auto;
    margin: auto;
    padding: 0;
}



/* General formatting */

#view-setter {
    max-height: 100vh;
}

/* Logo */

#logo-small {
    width: 9rem;
    height: 9rem;
}

#logo-large {
    max-width: 40rem;
    max-height: 40rem;
    padding: 1.5rem;
}

/* Navbar */
#navbar {
    max-width: 100%;
    overflow: auto;
}

#navbar .nav-flex {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar a {
    height: 100%;
    color: var(--secondary-colour);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li a {
    display: block;
    padding: 2rem;
    font-size: 2.4rem;

    &:hover {
    background-color: var(--brand-colour);
    color: var(--primary-colour);
    }
}

#nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Hero section */

#hero-div {
    height: calc(100vh - 20rem);
    width: 100%;
    overflow: hidden;
}

#hero-img {
    height: 100%;
    width: auto;
}

#tilda {
    margin: 1.6rem;
    font-size: 3.2rem;
}

/* Main section */

.primary div {
    aspect-ratio: 2/1;
    width: calc(100% / 1);
    overflow: hidden;
}

.primary img {
    height: 100%;
}

#menu-feature {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#menu-feature-text {
    height: 30vh;
}

#events-feature {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
}

#contact-feature {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#contact-feature-text {
    height: 60vh;
}

/* Menu section */

#menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    max-width: 100%;
}

.menu-image {
    width: 50%;
}

.menu-image img {
    width: 100%;
    border-style: solid;
    border-width: var(--border-half);
    border-color: var(--secondary-colour);
}

.menu-text {
    width: 50%;
    aspect-ratio: 1/1;
    border-style: solid;
    border-width: var(--border-half);
    border-color: var(--secondary-colour);
    overflow: hidden;
}

.menu-text h2 {
    margin: 1rem 0;
}

.menu-text p {
    margin: 1rem 0;
}

.menu-text div {
    padding: 1em;
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact-map {
    height: 100vw;
    width: 100vw;
}

.contact-map-frame {
    height: 100%;
    width: 100%;
}

#contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75rem;
    padding: 2em;
}

#sharing {
    border-style: solid;
    border-width: 0 0 var(--border-standard) 0;
    border-color: var(--secondary-colour);
    width: 100%;
}

#credit-images {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: calc(100% / 1);
}

.credit-item {
    max-width: 100%;
}

.credit-image {
    width: 50%;
}
.credit-image img {
    width: 100%;
    border-style: solid;
    border-width: var(--border-half);
    border-color: var(--secondary-colour);
}

.credit-text {
    width: 50%;
    border-style: solid;
    border-width: var(--border-half);
    border-color: var(--secondary-colour);
}

.credit-text div {
    padding: 1em;
}

#classmates {
    width: 100%;
    border-style: solid;
    border-width: var(--border-standard) 0 0 0;
    border-color: var(--secondary-colour);
}

.btn {
    margin: 2rem;
    padding: 0.25rem 2rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--brand-colour);
    border-radius: 2rem;
    background-color: var(--brand-colour);
    color: var(--primary-colour);
    font-weight: 600;
    text-decoration: none;
}

.btn:hover {
    margin: 2rem;
    padding: 0.25rem 2rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--brand-colour);
    border-radius: 2rem;
    background-color: var(--primary-colour);
    color: var(--brand-colour);
    text-decoration: none;
}





/* footer section */

#footer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#upper-footer {
    height: 10rem;
    text-align: center;
}

.footer-edge {
    min-width: calc(100% * 0.2);
}

.footer-mid {
    min-width: calc(100% * 0.6);
}

footer ul li {
    display: block;
    padding-bottom: 3rem;
    text-decoration: none;
    text-align: center;
}

footer ul li a {
    color: var(--brand-colour);
    font-weight: bold;
    text-decoration: none;
}

#credits {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

#credits a {
    margin: 2rem 0;
    padding: 0.25rem 2rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--brand-colour);
    border-radius: 2rem;
    background-color: var(--brand-colour);
    color: var(--primary-colour);
    font-weight: 600;
    text-decoration: none;
}

#credits a:hover {
    margin: 2rem 0;
    padding: 0.25rem 2rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--brand-colour);
    border-radius: 2rem;
    background-color: var(--primary-colour);
    color: var(--brand-colour);
    text-decoration: none;
}
