/* importing the Lexend font from google. */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


/* Root variables */

:root {
    --brand-colour: #3c3d83;
    --primary-colour: #f5f5f5;
    --secondary-colour: #000000;
    --border-standard: 0.1em;
}

/* Utilities */

/* create a flex row */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* horizontally center the content in a flex row */
.flex-rhc {
    justify-content: center;
}

/* left align the content in a flex row */
.flex-ral {
    justify-content: flex-start;
}

/* right align the content in a flex row */
.flex-rar {
    justify-content: flex-end;
}

/* vertically center the content in a flex row */
.flex-rvc {
    align-items: center;
}

/* top align the content in a flex row */
.flex-rat {
    align-items: flex-start;
}

/* bottom align the content in a flex row */
.flex-rab {
    align-items: flex-end;
}

/* create a flex column */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* vertically center the content in a flex column */
.flex-cvc {
    justify-content: center;
}

/* top align the content in a flex column */
.flex-cat {
    justify-content: flex-start;
}

/* bottom align the content in a flex column */
.flex-cab {
    justify-content: flex-end;
}

/* horizontally center the content in a flex column */
.flex-chc {
    align-items: center;
}

/* left align the content in a flex column */
.flex-cal {
    align-items: flex-start;
}

/* right align the content in a flex column */
.flex-car {
    align-items: flex-end;
}

.flex-fill {
    flex: 1;
}



/* Text alignment */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-pad-1vh {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.text-pad-1vw {
    padding-top: 1vw;
    padding-bottom: 1vw;
}



/* Borders */

.border-tb {
    border-style: solid;
    border-width: var(--border-standard) 0;
    border-color: var(--secondary-colour);
}

.border-t {
    border-style: solid;
    border-width: var(--border-standard) 0 0 0;
    border-color: var(--secondary-colour);
}

.border-b {
    border-style: solid;
    border-width: 0 0 var(--border-standard) 0;
    border-color: var(--secondary-colour);
}

.border-lr {
    border-style: solid;
    border-width: 0 var(--border-standard);
    border-color: var(--secondary-colour);
}

.border-l {
    border-style: solid;
    border-width: 0 0 0 var(--border-standard);
    border-color: var(--secondary-colour);
}

.border-r {
    border-style: solid;
    border-width: 0 var(--border-standard) 0 0;
    border-color: var(--secondary-colour);
}

.border-all {
    border-style: solid;
    border-width: var(--border-standard);
    border-color: var(--secondary-colour);
}




.container {
    min-width: 80vw;
    max-width: 80vw;
    margin: 0;
    padding: 0;
    /* border-style: solid;
    border-width: 10px;
    border-color: aqua; */
}



/* General formatting */

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    padding: 0;
    margin: 0;
}

body {
    margin: 0; /* CSS reset */
    padding: 0;
    font-family: "Lexend", Verdana, Tahoma, "Century Gothic", Trebuchet, Calibri, "Open Sans", Arial, sans-serif; /* dyslexia friendly fonts as recommended by the British Dyslexia Association. */
    line-height: 32px; /* increased line spacing as recommended by the British Dyslexia Association. */
    background-color: var(--primary-colour);
}

#view-setter {
    max-height: 100vh;
}

/* Header */
header {
    min-height: 100vh;
}

nav {
    /* width: 100vw; */
    background-color: var(--primary-colour);
}


/* Logo */

#logo-small {
    min-width: 100%;
    max-width: 4em;
    min-height: 100%;
    max-height: 4em;
    padding: 1vh;
}

#logo-large {
    max-width: 25em;
    max-height: 25em;
    padding: 1vh;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    /* padding: 10px; */
}

#navbar a {
    color: var(--secondary-colour);
    text-decoration: none;
}

#navbar ul {
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    display: block;
    padding: 20px;
    font-size: 24px;
}

#navbar ul li:hover {
    background-color: var(--brand-colour);
    }

#navbar ul li:hover a {
    color: var(--primary-colour);
    }

/* Hero section */

.hero-div {
    min-width: 99vw;
}

.hero-img {
    min-width: 100%;
}


/* Info section */

#info {
    padding: 7vh;
}

#tilda {
    margin: 1em;
    font-size: 32px;
}

/* Main section */

.primary div {
    min-width: 50vh;
    min-height: 50vh;
    /* border-style: solid;
    border-width: 25px 25px;
    border-color: navy; */
    flex: 1;
    overflow: hidden;
}

/* #test {
    min-height: 40vh;
    min-width: 50vh;
} */

.primary img {
    min-height: 100%;
    max-height: 70vh;
}


/* Menu section */

.menu-item {
    min-width: 33vw;
    min-height: 33vh;
    /* border-style: solid;
    border-width: 1px 1px;
    border-color: #000000;     */
}

.menu-image {
    min-width: 30vh;
}
.menu-image img {
    max-height: 100%;
    min-width: 100%;
}

.menu-text {
    min-width: 30vh;
    padding: 1vh;
}


/* Contact section */

/* #contact-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
} */


#contact-map {
    min-width: 40vw;
    /* overflow: ; */
    
}

#contact-info {
    min-width: 20vw;
}

#contact-hours {
    min-width: 20vw;
}





/* footer section */

#upper-footer {
    min-height: 10vh;
}

.footer-edge {
    min-width: 20vw;
}

.footer-mid {
    min-width: 59vw;
}

footer ul li {
    display: block;
    padding-right: 2vw;
    padding-bottom: 2vh;
    text-decoration: none;
}

footer ul li a {
    color: var(--brand-colour);
    font-weight: bold;
    text-decoration: none;
}
